@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}
#particles-js
{
  display: flex;
  position: absolute;
            width: 100%;
            height: 800px;
            top: 0; /* Menjamin posisi dari atas */
            left: 0; /* Menjamin posisi dari kiri */
            pointer-events: none;
}

:root{
  --body-color: #E4E9F7;
  --nav-color: #3e4149;
  --side-nav: #010718;
  --text-color: #FFF;
  --search-bar: #F2F2F2;
  --search-text: #010718;
}
header{
  height: 800px;
  background-color: #140016;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
outline: none;
font-family: sans-serif;
overflow: hidden;
}
body{
  display: block;
  background-color: #fcfcfc ;
}
.container .menu-icon {
  text-align: left;
  position: absolute;
  color: white;
  background: black;
  font-size: 30px;
  left: 0px;
  right: 0px;
  top: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: black;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.menu-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu-content a {
  background: black;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-family: sans-serif;
  transition: .3s ease-in-out;
}

.menu-container .closebtn {
  position: absolute;
  top: 36px;
  right: 48px;
  font-size: 30px;
  color: white;
  z-index: 1;
  cursor: pointer;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.justify-content-between{
	justify-content: space-between;
}
.align-items-center{  
	align-items: center;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.wrapper {
  display: inline-flex;
}
h2 span {
  color: #BD53ED;
  position: relative;
}
h2 span::before {
  content: "";
  height: 30px;
  width: 2px;
  position: absolute;
  top: 50%;
  right: -1px;
  background: #ffffff;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}
h2 span.stop-blinking::before {
  animation: none;
}
@keyframes blink {
  50% { opacity: 0 }
}
.char {
  transform: translateY(115px);
  transition: transform .5s;
}

h1{
  color: #fff;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: .0.5em;
  line-height: 1;
  visibility: hidden;
  overflow: hidden;
}
h2{
  color: #fff;
  font-size: 30px;
  text-align: center;
  
}
h3{
  color: #9bee02;
  font-size: 30px;
  box-shadow:  -24px 20px
}
p{
  color: darkorchid;
  font-size: 20px;
  text-align: center;
}
.button a{
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #fff;
  background: #2980b9;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
}

.btn1{
  font-family: "roboto", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 0px rgba(0, 0, 0);
  -webkit-transition-duration: 0,3s;
  transform-origin: 0,3s;
  -webkit-transition-property: box-shadow, transform;
}
.btn1:hover, .btn1:focus, .btn:active{
  box-shadow: 0 0 0px;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
@media screen and (min-width: 2000px){
  header{
    display: none;
  }
  }
